<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Notas</title>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

</head>
<body>
    
    <h1>Materia: {{ .response.Materia }}</h1>
    <h2>Alumno: {{ .response.Alumno.Nombre}} {{ .response.Alumno.Apellido}} {{ .response.Alumno.Legajo}} ({{ .response.Alumno.Año}})</h2>
        
    <h3>Notas</h3>
    {{range $_, $nota := $.response.Alumno.Notas}}
	    <p>Nota: {{$nota.Nota}},  Evaluacion: {{$nota.Evaluacion.Nombre }}, Categoria: {{$nota.Evaluacion.Categoria }}</p> 
    {{end}}
</body>
</html>